body{
    background-color: #333;
    color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
    line-height: 1.6;
    margin:0;

    transition:all 0.5s ease-out;

    scroll-behavior: smooth;

}

.light-theme {
        background-color: lightgray;
        color: rgb(70, 70, 70);
    }


.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}



#main-header{
    display: none;
    background-color: #333;
    color:#ffff;
    text-align: center;
    padding:0;
    /* makes header smaller but text will look weird. height:80px; */

    animation-name: header-reveal;
    animation-duration: 3s;
    animation-fill-mode: forwards;

}

@keyframes header-reveal {
    /* the 25% will let it stay at dark grey for a little longer  */
    0% {background-color: #333;}
    25% {background-color: #333;}
    100% {background-color: rgb(0, 118, 197);}
}

#main-header h1{
    color: rgb(228, 228, 228);
    letter-spacing: 0.5em;
    opacity: 0;

    animation-name: header-name-reveal;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

@keyframes header-name-reveal {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

  .sticky2 {
    position: fixed;
    top: 0;
    width: 100%
  }

#navbar{
    /* remove position and width to get back full showcase */
    position: fixed;
    width: 100%;
    background-image:url(../images/navbar.png);
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    opacity: 85%;

    transition: 0.3s ease-in-out;

}

#navbar:hover {
    color: rgb(0, 134, 223);
    box-shadow: 0 15px 15px rgba(0, 134, 223, .4);
}


#navbar ul{
    padding:0;
    list-style:none;
    text-align: center;
    
}

#navbar li{
    display: inline;
    text-align: center;
}

#navbar a{
    color:white;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding-right: 15px;

    transition: 0.8s;
}

#navbar a:hover{
    color:rgba(149, 213, 255, 0.4);
}

a:hover{
    text-shadow: 0 0px 65px rgba(228, 228, 228, 0.4);
}

#logo {
    font-size: 24px;
    padding-top: 10px;
    text-align: center;

    animation-name:logo-reveal;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes logo-reveal {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#navbar-hr {
    height: 1px;
    width: 60%;
    background: lightgray;

    animation-name: navbar-hr-fade-in;
    animation-duration: 4s;
    animation-iteration-count:infinite;
}

@keyframes navbar-hr-fade-in {
    0% {}
    50% {opacity: 0.75;background:rgb(80, 185, 255) }
    100% {}
}


#showcase{
    background-image:url(../images/showcase.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: right;
}

#showcase h1{
    padding-top: 50px;
    color: rgb(108, 92, 255);
    opacity: 0.7;
    padding-top: 200px;
    font-style: inherit;
}

#downloads-showcase{
    background-image:url(../images/downloads-showcase.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    margin-bottom: 30px;
    text-align: right;
}

#main{
    font-size: 24px;
    text-align: center;
    border-radius: 10px;
    border: rgb(33, 111, 255);
}

#main p{
    font-size: 16px;
    text-align: left;
    border-radius: 15px;

}

#downloads-main {
    text-align: center;
    border-radius: 10px;
    border: rgb(143, 182, 255);
    border-style:solid ;
}

#switch-button {

    position: fixed;
    bottom: 10px;
    left: 4px;
    margin: 0 auto;
    text-align: center;
    display: block;
    
    background-color: rgb(39, 39, 39);
    color: white;
    text-decoration: none;

    padding: 1rem 2rem;
    border: white 2px solid;

    /* cursor pointer makes mouse when hovering over it showing the "click me" cursor */
    cursor: pointer;

    transition: 0.4s ease-in-out;

}

#switch-button:hover {
    color: rgb(255, 255, 255);
    box-shadow: 0 0px 25px rgba(0, 134, 223, .4);
    background-color: rgb(30, 30, 51);

}


.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 2em;
    width: 50%;
    margin: auto;
    overflow: hidden;
    border: 20px;
}


/* redundant since every box will have it's own image soon
.wrapper >div:nth-child(odd){
    background: rgb(57, 192, 255);
    /* every ungerade zahl (odd) of div has this different color */

/*
.wrapper >div:nth-child(even){
    background: rgb(92, 103, 255);
    /* every ungerade zahl (odd) of div has this different color */



.box1{
    background-image: repeating-linear-gradient(
        -90deg,
        rgb(1, 0, 66),
        rgb(4, 40, 95) 0%,
        rgb(36, 36, 36)
    );
    background-size: 200%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 6em;
    
    animation: Diagonal alternate 10s infinite;
    font-style: oblique;
    font-family: consolas;
}

@keyframes Diagonal {
    0% {background-position: 0% 50%}
    100% {background-position: 100% 50%}
}

a:link{
    text-decoration: none;
    color:white;
}

a:visited{
    text-decoration: none;
    color:white;
}

.box2{
    text-align: center;
    padding: 6em;

    background-image: repeating-linear-gradient(
        -90deg,
        rgb(0, 56, 66),
        rgb(3, 62, 117) 0%,
        rgb(36, 36, 36)
    );
    background-size: 200%;
    background-repeat: no-repeat;
    
    animation: Diagonal alternate 10s infinite;
    animation-delay: 4s;
    font-style: oblique;
    font-family: consolas;

}

.box3{
    text-align: center;
    padding: 6em;
}

.box4{
    text-align: center;
    padding: 6em;
}

#main-footer{
    text-align: center;
}